<a href="https://colab.research.google.com/github/jcjcjjc-kekeodt/CPE-311/blob/main/Hands_on_Activity_6_1_debolgado.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Name:** Jan Carlos B. Debolgado <br>
**Section:** CPE22S3<BR>
<br>
**Performed on:** 02/12/2026 <br>
**Submitted on:** 02/12/2026 <br>
**Submitted to:** ENGR. Neal Barton James Matira

Exercise 1

In [38]:
import random
from collections import Counter
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [28]:
#mean
mean = sum(salaries) / len(salaries)

In [39]:
#mode
counts = Counter(salaries)
mode_val = max(counts, key=counts.get)

In [30]:
#median
sorted_salaries = sorted(salaries)
n = len(sorted_salaries)
if n % 2 == 0:
  median_val = (sorted_salaries[n//2 -1] + sorted_salaries[n//2]) / 2
else:
  median_val = sorted_salaries[n//2]

In [25]:
mean_val = sum(salaries) / len(salaries)
variance_val = sum((x - mean_val)**2 for x in salaries) / (n - 1)

In [31]:
std_dev_val = variance_val
std_dev_val = variance_val**0.5

In [83]:
print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

In [80]:
print(mean_val)

585690.0

In [81]:
print(mode_val)

477000.0

In [82]:
print(median_val)

589000.0

In [84]:
print(std_dev_val)

265827.11382484

In [42]:
average = sum(salaries) / len(salaries)
len_minus_one = len(salaries) - 1

x_xmean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation / len_minus_one

print(variance)

70664054444.44444

Exercise 2

In [44]:
#range
import statistics
range_val = max(salaries) - min(salaries)

In [48]:
#coefficient of variation
cov_val = statistics.stdev(salaries)/statistics.mean(salaries)

In [62]:
#quartile coefficient
quant1 = statistics.quantiles (salaries, n=4)[0]
quant3 = statistics.quantiles(salaries, n=4) [2]
iqr_val = quant3 - quant1

Exercise 3

In [52]:
import pandas as pd

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [53]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [54]:
#1
print("Columns:", df.columns.tolist())

Columns: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [55]:
#2
print("Data Types:", df.dtypes)

Data Types: Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [56]:
#3
print("Total Records:", len(df))

Total Records: 768

In [60]:
#4
print("first 20 records:\n", df.head(20))

first 20 records:
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1
15                     0.484   32        1
16                     0.551   31        1
17                     0.254   31        1
18                     0.183   33        0
19                     0.529   32        1

In [58]:
#5
print("last 20 records:\n", df.tail(20))

last 20 records:
      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
748            3      187             70             22      200  36.4
749            6      162             62              0        0  24.3
750            4      136             70              0        0  31.2
751            1      121             78             39       74  39.0
752            3      108             62             24        0  26.0
753            0      181             88             44      510  43.3
754            8      154             78             32        0  32.4
755            1      128             88             39      110  36.5
756            7      137             90             41        0  32.0
757            0      123             72              0        0  36.3
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
748                     0.408   36        1
749                     0.178   50        1
750                     1.182   22        1
751                     0.261   28        0
752                     0.223   25        0
753                     0.222   26        1
754                     0.443   45        1
755                     1.057   37        1
756                     0.391   39        0
757                     0.258   52        1
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

In [61]:
#6
df = df.rename(columns={"Outcome": "Diagnosis"})
print("New Columns:", df.columns.tolist())

New Columns: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Diagnosis']

In [79]:
#7
import numpy as np

df['Classification'] = df['Diagnosis'].apply(lambda x: "Diabetes" if x == 1 else "No Diabetes")

In [68]:
#8
withDiabetes = df[df["Diagnosis"]== 1]

In [69]:
#9
noDiabetes = df[df["Diagnosis"]== 0]

In [70]:
#10
pedia = df[df["Age"] <= 19]

In [71]:
#11
adult = df[df["Age"] < 19]

In [73]:
#12
avg_age = np.mean(df["Age"])
avg_glucose = np.mean(df["Glucose"])
print("Average Age:", avg_age)
print("Average Glucose:", avg_glucose)

Average Age: 33.240885416666664
Average Glucose: 120.89453125

In [75]:
#13
median_age = np.median(df["Age"])
median_glucose = np.median(df["Glucose"])
print("Median Age:", avg_age)
print("Median Glucose:", median_glucose)

Median Age: 33.240885416666664
Median Glucose: 117.0

In [76]:
#14
middle_age = np.percentile(df["Age"], 50)
middle_glucose = np.percentile(df["Glucose"], 50)
print("Middle Age:", middle_age)
print("Middle Glucose:", middle_glucose)

Middle Age: 29.0
Middle Glucose: 117.0

In [78]:
#15
std_skinthickness = np.std(df["SkinThickness"])
print("Standard Deviation of Skin Thickness:", std_skinthickness)

Standard Deviation of Skin Thickness: 15.941828626496978

**Conclusion** <br>

*In this activity, I learned about data collection. Data collection is the first step in data analysis because we cannot analyze data without it. Even before collecting data, we already think about what we want to study and what kind of data we need. Data can come from many different sources.*