<a href="https://colab.research.google.com/github/jcjcjjc-kekeodt/CPE-311/blob/main/Seatwork_7_1_Programming_Exercise_Data_Wrangling_with_Pandas_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Jan Carlos B. Debolgado <br>
Date: 02 - 19 - 2026 <br>
Course/Section: CPE311-22S3 <br>
Instructor: Engr. Neal Barton James Matira

# STEP 1

In [3]:
from google.colab import drive

# Mount Google Drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd

file_path = '/content/drive/My Drive/Colab Notebooks/Meteorite_Landings.csv'
df = pd.read_csv(file_path)

print(df.head())

       name   id nametype     recclass  mass (g)  fall  \
0    Aachen    1    Valid           L5      21.0  Fell
1    Aarhus    2    Valid           H6     720.0  Fell
2      Abee    6    Valid          EH4  107000.0  Fell
3  Acapulco   10    Valid  Acapulcoite    1914.0  Fell
4   Achiras  370    Valid           L6     780.0  Fell

                     year    reclat    reclong           GeoLocation
0  01/01/1880 12:00:00 AM  50.77500    6.08333     (50.775, 6.08333)
1  01/01/1951 12:00:00 AM  56.18333   10.23333  (56.18333, 10.23333)
2  01/01/1952 12:00:00 AM  54.21667 -113.00000    (54.21667, -113.0)
3  01/01/1976 12:00:00 AM  16.88333  -99.90000     (16.88333, -99.9)
4  01/01/1902 12:00:00 AM -33.16667  -64.95000   (-33.16667, -64.95)

# STEP 2

In [8]:
# keep only the first 4 characters
df['year'] = df['year'].str.slice(0, 4)

# convert to numeric
df['year'] = pd.to_numeric(df['year'], errors='coerce')

print(df[['year']].head(10))

   year
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
5   NaN
6   NaN
7   NaN
8   NaN
9   NaN

# STEP 3

In [9]:
df['observed_before_1970'] = df['year'] < 1970

print(df[['year', 'observed_before_1970']].head(10))

   year  observed_before_1970
0   NaN                 False
1   NaN                 False
2   NaN                 False
3   NaN                 False
4   NaN                 False
5   NaN                 False
6   NaN                 False
7   NaN                 False
8   NaN                 False
9   NaN                 False

# STEP 4

In [10]:
df = df.set_index('id').sort_index()

print(df.head())

      name nametype recclass  mass (g)   fall  year    reclat    reclong  \
id
1   Aachen    Valid       L5      21.0   Fell   NaN  50.77500    6.08333
2   Aarhus    Valid       H6     720.0   Fell   NaN  56.18333   10.23333
4    Abajo    Valid       H5     331.0  Found   NaN  26.80000 -105.41667
5   Abbott    Valid     H3-6   21100.0  Found   NaN  36.30000 -104.28333
6     Abee    Valid      EH4  107000.0   Fell   NaN  54.21667 -113.00000

             GeoLocation  observed_before_1970
id
1      (50.775, 6.08333)                 False
2   (56.18333, 10.23333)                 False
4     (26.8, -105.41667)                 False
5     (36.3, -104.28333)                 False
6     (54.21667, -113.0)                 False

# STEP 5

In [11]:
subset = df.loc[10036:10040]
print(subset)

            name nametype         recclass  mass (g)   fall  year    reclat  \
id
10036     Enigma    Valid               H4      94.0  Found   NaN  31.33333
10037       Enon    Valid  Iron, ungrouped     763.0  Found   NaN  39.86667
10038      Enshi    Valid               H5    8000.0   Fell   NaN  30.30000
10039  Ensisheim    Valid              LL6  127000.0   Fell   NaN  47.86667

         reclong            GeoLocation  observed_before_1970
id
10036  -82.31667  (31.33333, -82.31667)                 False
10037  -83.95000     (39.86667, -83.95)                 False
10038  109.50000          (30.3, 109.5)                 False
10039    7.35000       (47.86667, 7.35)                 False

# BONUS

In [12]:
# look for suspicious years "less than 1000 or greater than current year"
errors = df[(df['year'] < 1000) | (df['year'] > 2026)]
print(errors[['year']])

Empty DataFrame
Columns: [year]
Index: []

**Conclusion**: <br>
I learned how to clean and transform the meteorite dataset step by step: slicing the year column to keep only the first four digits, converting it into numeric values, adding a flag for meteorites observed before 1970, setting the id as the index, and extracting a specific range of rows with loc[]. Along the way, I also spotted a data entry error in the year column (values like 301 or 205 instead of proper fourâ€‘digit years).