<a href="https://colab.research.google.com/github/jcjcjjc-kekeodt/CPE-311/blob/main/Seatwork_7_2_Programming_Exercise_Data_Wrangling_with_Pandas_Part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Name: Jan Carlos B. Debolgado <BR>
Date: 02 - 19 - 2026 <BR>
Course/Section: CPE311-22S3 <BR>
Instructor: Engr. Neal Barton James Matira



---
# EXERCISE PART 4

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [12]:
import pandas as pd

file_path = '/content/drive/My Drive/Colab Notebooks/Meteorite_Landings.csv'
df = pd.read_csv(file_path)

df['year'] = df['year'].str.slice(0,4)
df['year'] = pd.to_numeric(df['year'], errors='coerce')

In [13]:
# filter years 2005â€“2009
df_filtered = df[(df['year'] >= 2005) & (df['year'] <= 2009)]

# pivot table: count + 95th percentile of mass
pivot = pd.pivot_table(
    df_filtered,
    index='year',
    columns='fall',   # "Found" vs "Fell"
    values='mass (g)',
    aggfunc={'mass (g)': ['count', lambda x: x.quantile(0.95)]}
)

print(pivot)

Empty DataFrame
Columns: []
Index: []

In [14]:
# summary statistics for Found vs Fell
summary_stats = df.groupby('fall')['mass (g)'].describe()
print(summary_stats)

         count          mean            std  min     25%     50%      75%  \
fall
Fell    1075.0  47070.715023  717067.125826  0.1  686.00  2800.0  10450.0
Found  44510.0  12461.922983  571105.752311  0.0    6.94    30.5    178.0

              max
fall
Fell   23000000.0
Found  60000000.0

# EXERCISE PART 5

In [15]:
taxi_file = '/content/drive/My Drive/Colab Notebooks/2019_Yellow_Taxi_Trip_Data.csv'
taxi = pd.read_csv(taxi_file, parse_dates=['tpep_dropoff_datetime'])

# Set datetime index
taxi = taxi.set_index('tpep_dropoff_datetime')

In [16]:
hourly = taxi.resample('H').agg({
    'trip_distance': 'sum',
    'fare_amount': 'sum',
    'tolls_amount': 'sum',
    'tip_amount': 'sum'
})

print(hourly.head())

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 07:00:00             0.67          4.5           0.0         0.0
2019-10-23 08:00:00            17.07         62.5           0.0         4.0
2019-10-23 09:00:00             1.58         58.0           0.0         0.0
2019-10-23 10:00:00             0.00          0.0           0.0         0.0
2019-10-23 11:00:00             0.00          0.0           0.0         0.0

/tmp/ipython-input-491045140.py:1: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly = taxi.resample('H').agg({

In [17]:
top5_tips = hourly.sort_values('tip_amount', ascending=False).head(5)
print(top5_tips)

                       trip_distance  fare_amount  tolls_amount  tip_amount
tpep_dropoff_datetime
2019-10-23 16:00:00         10676.95     67797.76        699.04    12228.64
2019-10-23 17:00:00         16052.83     70131.91       4044.04    12044.03
2019-10-23 18:00:00          3104.56     11565.56       1454.67     1907.64
2019-10-23 15:00:00            14.34       213.50          0.00       51.75
2019-10-23 19:00:00            98.59       268.00         24.48       25.74

**CONCLUSION:** <br>
I learned how to use pivot tables and group statistics for meteorite data, and how to resample taxi trip data hourly to identify the top tipping hours.